#footerbar{
    display: flex;
    flex-direction: column;
}

.LogoFooter{
    height: 3em;
}

.SocialLogo {
    height: 1.6em;
    background-color: var(--primary);
    padding: 1.5px;
    border-radius: 5px;
    margin: 5px;
}

.SocialLogo:hover {
    opacity: .5;
}